.notification {
    position: absolute;
    margin: 50px 50px;
    padding: 5px 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    border-width: 1px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    left: 0;
    transition: all 0.5s ease-in-out;

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        border-width: 1px;
        backdrop-filter: blur(10px);
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    .message {
        padding-top: 5px;
        padding-left: 0px;
        font-size: 25px;
        font-weight: normal;
    }

    &:intro {
        left: -50%;
    }

    &:outro {
        left: -50%;
    }

    &.green {
        background-color: rgba(green, 0.3);
        border-color: green;

        .shape {
            background-color: rgba(green, 0.5);
            border-color: green;
        }
    }

    &.gray {
        background-color: rgba(gray, 0.3);
        border-color: gray;

        .shape {
            background-color: rgba(gray, 0.5);
            border-color: gray;
        }
    }

    &.red {
        background-color: rgba(red, 0.3);
        border-color: red;

        .shape {
            background-color: rgba(red, 0.5);
            border-color: red;
        }
    }
}
