.hud-hint-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;

    color: white;
    padding: 20px;
    background-color: black;
}

.notification-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
