/*

==== Notification style example ====

NotificationBase {
    position: absolute;
    margin: 50 50px;
    padding: 5 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    background-color: rgba( white, 0.3 );
    border-color: rgba( white, 1);
    border-width: 1px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur( 10px );

    opacity: 0;

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        background-color: rgba( white, 0.3 );
        border-color: rgba( white, 1);
        border-width: 1px;
        backdrop-filter: blur( 10px );
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    .message {
        padding-top: 5px;
        padding-left: 0px;
        font-size: 25px;
        font-weight: normal;
    }

    .active {
        opacity: 1;
    }

    .unactive {
        opacity: 0;
    }
}

*/

Generic {
    position: absolute;
    margin: 50 50px;
    padding: 5 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    background-color: rgba( green, 0.3 );
    border-color: rgba( green, 1);
    border-width: 1px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur( 10px );
    opacity: 0; // by default it must be hide

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        background-color: rgba( green, 0.5 );
        border-color: rgba( green, 1);
        border-width: 1px;
        backdrop-filter: blur( 10px );
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    .message {
        padding-top: 5px;
        padding-left: 0px;
        font-size: 25px;
        font-weight: normal;
    }

    .active {
        opacity: 1;
    }

    .unactive {
        opacity: 0;
    }
}

Hint {
    position: absolute;
    margin: 50 50px;
    padding: 5 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    background-color: rgba( grey, 0.3 );
    border-color: rgba(white, 1);
    border-width: 1px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur( 10px );
    opacity: 0; // by default it must be hide

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        background-color: rgba( grey, 0.3 );
        border-color: rgba( white, 1);
        border-width: 1px;
        backdrop-filter: blur( 10px );
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    .message {
        padding-top: 5px;
        padding-left: 0px;
        font-size: 25px;
        font-weight: normal;
    }

    .active {
        opacity: 1;
    }

    .unactive {
        opacity: 0;
    }
}

Error {
    position: absolute;
    margin: 50 50px;
    padding: 5 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    background-color: rgba( red, 0.3 );
    border-color: rgba(red, 1);
    border-width: 1px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur( 10px );
    
    opacity: 0; // by default it must be hide

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        background-color: rgba( red, 0.3 );
        border-color: rgba(red, 1);
        border-width: 1px;
        backdrop-filter: blur( 10px );
    }

    .title {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }

    .message {
        padding-top: 5px;
        padding-left: 0px;
        font-size: 30px;
        font-weight: normal;
    }

    &.active {
        opacity: 1;
    }

    &.unactive {
        opacity: 0;
    }
}
