GenericNotification {
    position: absolute;
    margin: 50 50px;
    padding: 5 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    background-color: rgba(green, 0.3);
    border-color: rgba(green, 1);
    border-width: 1px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    left: 0%;
    transition: all 0.5s ease-in-out;

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        background-color: rgba(green, 0.5);
        border-color: rgba(green, 1);
        border-width: 1px;
        backdrop-filter: blur(10px);
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    .message {
        padding-top: 5px;
        padding-left: 0px;
        font-size: 25px;
        font-weight: normal;
    }

    &:intro {
        left: -50%;
    }

    &:outro {
        left: -50%;
    }
}

HintNotification {
    position: absolute;
    margin: 50 50px;
    padding: 5 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    background-color: rgba(grey, 0.3);
    border-color: rgba(white, 1);
    border-width: 1px;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    left: 0%;
    transition: all 0.5s ease-in-out;

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        background-color: rgba(grey, 0.3);
        border-color: rgba(white, 1);
        border-width: 1px;
        backdrop-filter: blur(10px);
    }

    .title {
        font-size: 35px;
        font-weight: bold;
        color: white;
    }

    .message {
        padding-top: 5px;
        padding-left: 0px;
        font-size: 25px;
        font-weight: normal;
    }

    &:intro {
        left: -50%;
    }

    &:outro {
        left: -50%;
    }
}

ErrorNotification {
    position: absolute;
    margin: 50 50px;
    left: -50%;
    padding: 5 40px;
    padding-left: 45px;
    flex-direction: column;
    width: 360px;
    background-color: rgba(red, 0.3);
    color: white;
    border-color: rgba(red, 1);
    border-width: 1px;
    border-radius: 15px;
    font-weight: bold;
    backdrop-filter: blur(10px);
    left: 0%;
    transition: all 0.5s ease-in-out;

    .shape {
        position: absolute;
        width: 40px;
        top: -0.1%;
        bottom: -0.1%;
        left: -1%;
        border-radius: 15px;
        background-color: rgba(red, 0.3);
        border-color: rgba(red, 1);
        border-width: 1px;
        backdrop-filter: blur(10px);
    }

    .message {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }

    &:intro {
        left: -50%;
    }

    &:outro {
        left: -50%;
    }
}
